@media (max-width: 1200px) {
  :host {
    grid-column: 1 / 3;
  }
}

fieldset {
  display: flex;
  align-items: center;

  color: #222222;
  background-color: #f9f9f9;
  border: 2px solid #999999;
  border-radius: 8px;
}

fieldset.selected {
  color: #222222;
  background-color: #ffffbf;
  border: 2px solid #ff9999;
}

fieldset.win {
  color: #222222;
  background-color: #bfffcd;
  border: 2px solid #00749b;
}

fieldset legend {
  display: table;
  margin: 0 auto;
  padding: 0px 3px;
}

.player {
  display: flex;
  align-items: center;
  padding: 3px;
}

.spinner {
  margin-left: auto;
  margin-right: 5px;
}
