:host {
  display: inline-block;

  width: 1em;  /* 1em makes it exactly the same width/height as the surrounding text */
  height: 1em;

  vertical-align: -0.14em; /* Drops it down just enough to look visually centered with text. */
  margin: 0.25em 0em; /* Add a tiny bit of spacing. */
}

.spinner {
  color: #ff8e3c;
  animation: spin 1500ms linear infinite;
}

@keyframes spin {
  /* Spin the spinner with CSS. */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
