<div class="status">
  <app-player-box [playerIx]="0" />
  <app-player-box [playerIx]="1" />

  <!-- Game state. -->
  <div data-testid="div-status" class="doubleColumn">
  @if (gameStateService.gameState().view.viewMode === EnViewMode.History) {
    {{'game.status.showsHistory' | translate:{moveNum:getMoveNumber()} }}
    <button data-testid="btn-exitHistory" (click)="exitHistory()">
      {{ 'game.btn.exitHistory' | translate }}
    </button>
  }
  @else {
    @switch (gameStateService.gameState().board.status) {
      @case (EnGameStatus.Stop) {
        <div [innerHTML]="'game.status.currStatus.stop' | translate"></div>
      }
      @case (EnGameStatus.Pending) { <!-- you should not be able to see it, but whatever -->
        <div [innerHTML]="'game.status.currStatus.pending' | translate"></div>
      }
      @case (EnGameStatus.InProgress) {
        @if (gameStateService.getCurrPlayer().type === EnPlayerType.Human) {
          @if (canPassMove()) {
            {{'game.status.currStatus.inProgress.human.noMoves' | translate}}
            <button data-testid="btn-pass" (click)="passMove()">
              {{ 'game.btn.pass' | translate }}
            </button>
          }
          @else {
            {{'game.status.currStatus.inProgress.human' | translate}}
          }
        }
        @else {
          {{'game.status.currStatus.inProgress.ai' | translate}}
          <asset-spinner/>
        }
      }
      @case (EnGameStatus.PlayerWon) {
        <div class="player">
          {{'game.status.currStatus.playerWon' | translate}}
          <app-player-name [player]="gameStateService.getWinningPlayer()" [anim]="true" />!
        </div>
      }
      @case (EnGameStatus.Tie) {
        <div [innerHTML]="'game.status.currStatus.tie' | translate"></div>
      }
    }
  }
  </div>
</div>
