:host {
  display: block;

  width: 100%;
  height: 100%;

  padding: 5%; /* Adds a little gap between the piece and the cell border. */
}

.cell-content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
