<div class="cell-content" [attr.data-testid]="cellTestId()" (click)="cellClick()">
  @if (cell().state === EnCellState.Unknown) {
    <reversi-piece-unknown /> <!-- indicates error -->
  }

  @if (cell().state === EnCellState.Empty) {
    <!-- Potential moves show only when gameState.settings.showHints is true -->
    @if (cell().potentialMove !== EnCellState.Empty) {
      <reversi-piece [state]="cell().potentialMove" [opacity]="50" />
    }
  }

  @if (cell().state === EnCellState.B || cell().state === EnCellState.W) {
    <!-- Black or white piece. This condition must exists, since we need single element
         to handle both states so we can see flipping. -->
    <reversi-piece [state]="cell().state" />
  }

  @if (canShowDebug()) {
    <div class="debug-overlay">
      <p>X: {{ x() }}, Y: {{ y() }}</p>
      <p>W: {{ cell().weight }}</p>
    </div>
  }
</div>
