/********************************
 * Styles specific to this app. *
 ********************************/

/* Settings for globally used elements. */

body {
  /* Game centers in middle its content in browser window. */
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: start;      /* Vertical */
  /* Other stuff. */
  color-scheme: light;

  color: var(--color-text);
  background-color: var(--color-background);
}

/* General. */

button {
  padding: 2px 5px;
}

h1 {
  color: #484848;
  font-size: 54px;
  text-align: center;
  text-shadow: 0 0 3px currentColor;
}

h2 {
  color: #484848;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 2px currentColor;
}

h3 {
  color: #484848;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 1px currentColor;
}

/*** Common elements used on multiple pages. ***/

/* Menu. */

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;

  width: 100%;
  max-width: 50vw;

  margin: 6px 0px;
  padding: 5px;
}

.menu label {
  text-align: right;
}

.menu select {
  text-align: center;
}

.menu button {
  grid-column: span 2;
  width: 100%;
}

@media (max-width: 700px) {
  .menu {
    max-width: 80vw;
  }
}

/* Sidepanel. */

.sidepanel-left {
  position: fixed;
  top: 50px;
  left: 0;

  overflow-y: auto; /* Scrollable if content is long */
  z-index: 100; /* Ensure it's above other content */

  min-width: 200px;
  max-width: 300px;
}

.sidepanel-right {
  position: fixed;
  top: 50px;
  right: 0;

  overflow-y: auto; /* Scrollable if content is long */
  z-index: 100; /* Ensure it's above other content */

  min-width: 200px;
  max-width: 350px;
}

@media (max-width: 1200px) {
  .sidepanel-left {
    position: static;
    margin: auto;
  }
  .sidepanel-right {
    position: static;
    margin: auto;
  }
}
