/********************************
 * Variables.                   *
 ********************************/

/* Note it is overkill for such simple app, but I want to use accepted convention for web projects from the start. */
:root {
  /* Colors */
  --color-primary: #3498db;
  --color-text: #000000;
  --color-background: #ffffff;

  /*** Typography ***/
  /* UI elements. */
  --font-family-ui: system-ui, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  /* Long-form reading. */
  --font-family-general: ui-rounded, 'Hiragino Maru Gothic ProN', 'Quicksand',
         'Comfortaa', 'Manjari', 'Arial Rounded MT Bold', 'Calibri', sans-serif;
  --font-size-base: 16px;
}

/*** Default theme. ***/
:root {
  /* Combobox. */
  --combobox-min-width: 175px;
  --combobox-padding: 2px;
  --combobox-border: 1px solid #aaaaaa;
  --combobox-background: #e8e8e8;
  --combobox-text: #111827;
  --combobox-background-hover: #d8d8d8;
  --combobox-text-hover: #111827;

  --combobox-options-min-width: 150px;
  --combobox-options-max-height: 300px;

  --combobox-option-padding: 2px;
  --combobox-option-border: 1px solid #aaaaaa;
  --combobox-option-background: #f0f0f0;
  --combobox-option-background-hover: #d8d8d8;
  --combobox-option-text-hover: #111827;

  --combobox-disabled-border: 1px solid #cccccc;
  --combobox-disabled-background: #f8f8f8;
  --combobox-disabled-text: #999999;
}
