<fieldset class="menu">
  <legend>{{ 'mainMenu.options' | translate}}</legend>

  <label for="mode">{{'settings.modes' | translate}}:</label>
  <combo-box id="mode" langPrefix="settings.modes" [options]="modes"
    [(selectedOption)]="gameStateService.menuSettings().mode" />

  <label for="whoFirst">{{'settings.whoFirst' | translate}}:</label>
  <combo-box id="whoFirst" langPrefix="settings.whoFirst" [options]="playerTypes"
    [(selectedOption)]="gameStateService.menuSettings().whoFirst" />

  <label for="difficulty">{{'settings.difficulty' | translate}}:</label>
  <combo-box id="difficulty" langPrefix="settings.difficulty" [options]="difficulties"
    [(selectedOption)]="gameStateService.menuSettings().difficulty" />

  <label for="boardSize">{{'settings.boardSize' | translate}}:</label>
  <combo-box id="boardSize" langPrefix="settings.boardSize" [options]="gameConfig.boardSizes"
    [(selectedOption)]="gameStateService.menuSettings().boardSize" />
</fieldset>
