<div class="sidepanel-left">
  <div class="basic">
    <h2>{{'game.statistics.basic' | translate}}</h2>
    <div>{{'mainMenu.settings.modes' | translate}}:</div>
    <div>{{'enum.mode.'+gameStateService.gameState().settings.mode | translate }}</div>
    @if (showWhenHumanVsAi()) {
      <div>{{'mainMenu.settings.whoFirst' | translate}}:</div>
      <div>{{'enum.playerType.'+gameStateService.gameState().settings.whoFirst | translate }}</div>
    }
    @if (showWhenAiInvolved()) {
      <div>{{'mainMenu.settings.difficulty' | translate}}:</div>
      <div>{{'enum.difficulty.'+gameStateService.gameState().settings.difficulty | translate }}</div>
    }
    <div>{{'mainMenu.settings.boardSize' | translate}}:</div>
    <div>{{'mainMenu.settings.boardSize.'+gameStateService.gameState().settings.boardSize | translate }}</div>
  </div>

  <div class="statistics">
    <h2>{{'game.statistics.stats' | translate}}</h2>
    <div>{{'game.statistics.round' | translate}}:</div>
    <div>{{ gameStateService.gameState().statistics.round }}</div>
    <div>{{'game.statistics.moveCount' | translate}}:</div>
    <div>{{ gameStateService.gameState().statistics.moveCount }}</div>

    <div>{{'game.statistics.ties' | translate}}:</div>
    <div>{{ gameStateService.gameState().statistics.ties }}</div>
    <div>{{'game.statistics.tiesInRow' | translate}}:</div>
    <div>{{ gameStateService.gameState().statistics.tiesInRow }}</div>

    <h3>
      <app-player-name [player]="gameStateService.getPlayer(0)" [anim]="false" />
    </h3>
    <div>{{'game.statistics.playerScore' | translate }}:</div>
    <div>{{ gameStateService.gameState().statistics.player1Score }}</div>
    <div>{{'game.statistics.playerWins' | translate }}:</div>
    <div>{{ gameStateService.gameState().statistics.player1Win }}</div>
    <div>{{'game.statistics.playerWinsInRow' | translate }}:</div>
    <div>{{ gameStateService.gameState().statistics.player1WinInRow }}</div>

    <h3>
      <app-player-name [player]="gameStateService.getPlayer(1)" [anim]="false" />
    </h3>
    <div>{{'game.statistics.playerScore' | translate }}:</div>
    <div>{{ gameStateService.gameState().statistics.player2Score }}</div>
    <div>{{'game.statistics.playerWins' | translate }}:</div>
    <div>{{ gameStateService.gameState().statistics.player2Win }}</div>
    <div>{{'game.statistics.playerWinsInRow' | translate }}:</div>
    <div>{{ gameStateService.gameState().statistics.player2WinInRow }}</div>
  </div>

  @if (gameStateService.gameState().debugSettings.debugPanel) {
  <div class="debugPanel">
    <h2>{{'game.debug.title' | translate}}</h2>
    <div>{{'game.debug.evaluation' | translate }}:</div>
    <div>{{ gameStateService.gameState().debugData.evaluationScore }}</div>
    <div class="doubleCol">{{'game.debug.potentialMoves' | translate }}:</div>
    <div class="doubleCol" [innerHtml]="gameStateService.gameState().debugData.potentialMoves"></div>
  </div>
  }
</div>
